

 .contact-form{
  background-color: whitesmoke;
   margin: 4cm;
   width: 80%;
   height: 70%;
}

.image{
 background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRQJ7N4t453cnydBv50wZ5DT1zsW5muqORjsQ&usqp=CAU);
  width: 80%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
  margin-left: 3cm;
}

.form-grou input {
  border: none;
  border-bottom: 1px solid #00000063;
  height: 55px;
  width: 400px;
  box-shadow: none;
  outline: 0;
  padding-left: 0px;
}

.form-grou textarea {
  border: 0px;
  border-bottom: 1px solid #00000063;
  height: 50px;
  width: 400px;
  box-shadow: none;
  outline: 0;
  padding-left: 0px;
}

.form-grou{
  padding: 0.5cm;
}

.navdiv{
  background-color: skyblue;
  margin-top: 2.5cm;
  height: 2cm;
}