#intro {
    background: url("https://b.stripecdn.com/site-srv/assets/img/blog/posts/connect-frontend/header-background-fca7c86a3378d48e2f3bf0ccda9e7fbfa2bebe96.png")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#contact-form{
    /* width: 15cm; */
  
   background: skyblue;
    margin: 1cm;
    padding-left: 5cm;
    padding-right: 5cm;
    
}
.form-group.form-control{
  background-color: springgreen;
}