#intro {
    background: url("https://b.stripecdn.com/site-srv/assets/img/blog/posts/connect-frontend/header-background-fca7c86a3378d48e2f3bf0ccda9e7fbfa2bebe96.png")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.landing{
margin-top: 3cm;
background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTdmqNLs2mNHgrrOdcNbrkFISZL0jEaY-mIdA&usqp=CAU");
height: 18cm;
background-repeat: no-repeat;
background-size: 100%;



}
.image2{
 padding-top: 4cm; 
 padding-bottom:  5cm; 

 background-color:whitesmoke;
 padding-left: 1cm;
border-top-left-radius: 80%;
border-bottom-left-radius: 30%;
  border-bottom-right-radius: 80%;
}
.image2 img{
    border-radius: 50%;
    height: 9cm;
    width: 10cm; 
    /* transform: rotate(90deg); */
}
.para{
    padding-top: 4cm;
    padding-right: 7cm;
}

.para p{
    text-align: justify;
    text-justify: inter-word;
    padding-left: 8cm;
font-size: 1cm;
font-weight: 880;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.upperdiv{
  /* padding: 2cm; */
margin-top: 5cm;

}
.crousel{
    width: 15cm;
    margin-left: 2cm;
 
  
}
.item{
    height: 9cm;
}
.centerdiv{
    background-color:whitesmoke;
    height:15cm;
    margin: 0.5cm;
    
}
.firstcol{
    margin-top: 2cm;

}
.firstcol p{
    padding-left: 3cm;
    padding-top: 1cm;
    text-align: justify;
    text-justify: inter-word;
}
.firstcol h1{
    font-size: 1.7cm;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(31, 15, 241);
    font-weight: bold;
    border-bottom: 5px solid rgb(31, 15, 241);
    display: inline;
    
}
.firstcol h1 span{
    font-size: 1.7cm;
    color: red;
   
}
.skill{
    margin-top: 2cm; 
}
.skill h1{
    font-size: 1.3cm;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}
.skill p{
    
    text-align: justify;
    text-justify: inter-word;
    padding: 1cm;
}
.pro{
    padding: 0.3cm;
}

.pro p1{
    position: relative;
    left: -250px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.lowerdiv{
    background-color:whitesmoke;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcThzQr1LKGRHN5by9BJiBsoMnnbyzWd8xjR3Q&usqp=CAU);
    height:22cm;
    margin: 0.5cm;
    background-repeat: no-repeat;
    background-size: 100%;
   padding-top: 1cm;
}
.lowerdiv h1{
    color: white;
    font-size: 1.8cm;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;

}.lowerdiv p1{
    color: white;
    /* font-size: 0.3cm; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    


   

}
.quote{
padding: 2cm;

margin-left: -10cm;
}

@media only screen and (max-width: 414px) {
  

     
}

